.job-button-wrapper {
display: flex;
justify-content: center;
gap: 5rem;
background-color: #ffffff;
padding: 5rem 0;
}

.job-post-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Matches the surrounding section background */
  border-radius: 12px; /* Adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for contrast */
}

.go-to-job-post-button {
  background-color: #000000; /* Adjust to your theme's primary color */
  color: #ffffff;
  padding: 1.5rem 2.2rem;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.go-to-job-post-button:hover {
  background-color: #ffffff; /* Slightly darker for hover state */
  color: #000000;
  border: #000000 solid 2px;
  transform: scale(1.05); /* Adds a slight zoom effect */
}

.job-list-button-wrapper {
 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Matches the surrounding section background */
  border-radius: 12px; /* Adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for contrast */
}

.go-to-job-list-button {
  background-color: #000000; /* Adjust to your theme's primary color */
  color: #fff;
  padding: 1.5rem 2.2rem;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

form {
  align-self: center;
  width: 50% !important;
}

.go-to-job-list-button:hover {
  background-color: #ffffff; /* Slightly darker for hover state */
  color: #000000;
  border: #000000 solid 2px;
  transform: scale(1.05); /* Adds a slight zoom effect */
}
.view-toggle-btn {
  margin-left: 4px;
  width: 8%;
  box-shadow: none;
  border: none;
  background-color: aliceblue;
  color: #000000;
  font-style: italic;
}

.view-toggle-btn:hover {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff; /* Add 'solid' to the border */
  box-shadow: none;
}

.section-navbar {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; 
  overflow: hidden; 
  width: 100%; 
}

.active-section-wrapper {
  position: relative; /* This allows the close button to be positioned relative to the section */
  padding: 20px;
  background: #000000; /* Ensure background color for clarity */
}

/* Close button positioned relative to the section */
.close-section-button {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #fff; /* White background */
  color: #000; /* Black X text */
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1%; /* Optional for a circular button */
  padding: 10px; /* Optional for spacing */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
}

@media (max-width: 768px) {
  .close-section-button {
    top: 10px;
    right: 30px;
    padding: 5px;
}
}

.close-section-button:hover {
  background-color: red; /* Red background on hover */
  color: #fff; /* White X text on hover */
}


.navbar-buttons-containers {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-left: 90px; /* Add space to account for the left arrow */
  margin-right: 90px; /* Add space to account for the right arrow */
  overflow-x: auto; /* Allow horizontal scrolling for the links */
  scroll-behavior: smooth; /* Optional: Smooth scrolling effect */
  width: calc(100% - 100px);
 overflow-x: scroll; /* Enable horizontal scrolling */
 scrollbar-width: none; /* For Firefox */
 -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.navbar-buttons-containers::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.navbar-buttons-containers button {
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.3);
  margin-left: 15px;
  margin-right: 15px;
  display: inline-flex; /* Ensures the content inside the button aligns horizontally */
  align-items: center; /* Vertically centers the text/icon inside the button */
  justify-content: center; /* Horizontally centers the text/icon inside the button */
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 15px 20px; /* Add some vertical padding for better aesthetics */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  white-space: nowrap; /* Prevents text from wrapping onto multiple lines */
}

.navbar-buttons-containers button:hover {
  background-color: #ffffff;
  color: #000000;
  border: #000000 solid 1px;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.3);
}

.contact-form-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form-section .form-group {
  margin-bottom: 15px;
}

.contact-form-section .form-group label {
  display: block;
  margin-bottom: 5px;
}

.contact-form-section input,
.contact-form-section textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form-section button {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.contact-form-section button:hover {
  background-color: #007bff;
}

.form-status {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

.form-status.success {
  align-self: center;
  background-color: #28a745;
  color: white;
  width: 15%;
}

.form-status.error {
  background-color: #dc3545;
  color: white;
  align-self: center;
  width: 15%;
}

.about-section {
  padding-top: 2rem;
  display: grid;
  background-color: #000000;
  padding: 5rem;
}

p {
  font-family: sans-serif;
  color: #ffffff;
  font-size: 2.2rem;
  padding: 20px;
  line-height: 1.6;
}

.about-section .about-img {
  width: 30%;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.about-section h2 {
  font-family: sans-serif;
  margin-top: 20px;
  font-size: 26px;
  color: rgb(255, 255, 255);
}

.about-section ul {
  display: flex;
  padding: 0;
  text-align: left;
  margin: 20px;
  gap: 50px;
}

.about-section ul li {
  font-size: 1.9rem;
  margin: 5px 0;
  color: rgb(255, 255, 255);
}

.contact-form-section {
  background-color: #000000;
  display: flex;
  flex-direction: column; /* Align elements in a vertical column */
  justify-content: flex-start; /* Aligns content to the top */

  height: 100vh; /* Full viewport height */
  text-align: center; /* Centers text inside the section */
  padding-top: 50px; /* Optional: Adds spacing from the top of the viewport */
}

.contact-form-section h2 {
  font-family: sans-serif;
  font-size: 5rem;
  color: aliceblue;
  margin-bottom: 6rem;
}

.contact-form-section .form-group {
  margin-bottom: 20px;
}

.contact-form-section label {
  font-weight: bold;
  color: aliceblue;
}

.contact-form-section input,
.contact-form-section textarea {
  width: 45% !important;
  padding: 15px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  font-size: 16px !important;
}

.contact-form-section button {
  font-size: 1.8rem !important;
  font-weight: bold;
  font-family: sans-serif;
  width: 27% !important;
  background-color: black !important;
  color: rgb(255, 255, 255) !important;
  padding: 10px 20px;
  border-radius: 5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
  box-shadow: none;
}

.contact-form-section button:hover {
  background-color: #ffffff !important;
  color: #000000 !important; /* Optionally change text color on hover */
}

/* Responsive Styles */
@media (max-width: 1220px) {
  .view-toggle-btn {
    width: 10%;
  }
  .contact-form-section {
    padding: 0 !important;
    padding-bottom: 2rem;
  }

  form {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .view-toggle-btn {
    width: 13%;
  }
}


@media (max-width: 800px) {
  .navbar-buttons-containers {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    gap: 0;
  }
  .view-toggle-btn {
    width: 20%;
  }

  .contact-form-section {
    padding: 0 !important;
    padding-bottom: 4rem !important;
  }

  form {
    width: 80%;
  }

  p {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .view-toggle-btn {
    width: 80% !important;
  }

  .contact-form-section button {
    width: 50% !important;
  }
  p {
    font-size: 1.7rem;
  }
  .contact-form-section {
    padding: 0 !important;
    padding-bottom: 4rem !important;
  }

  form {
    width: 95% !important;
  }
}

@media (max-width: 400px) {
  .view-toggle-btn {
    width: 52%;
  }

  .job-button-wrapper {
    gap: 1rem
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .section-navbar {
    padding: 25px;
    margin-top: 6rem;
    justify-items: center;
    align-items: center;
  }
  .navbar-buttons-container {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
  .navbar-buttons-container button {
    box-shadow: none;
    margin-left: 2px;
    margin-right: 2px;
  }

  .section-navbar {
    padding: 20px;
  }

  .section-navbar button {
    padding: 8px 12px;
    font-size: 14px;
  }

  .nav-arrow{
    padding: 5px !important;
  }

  p {
    width: 100%;
    padding: 0.1rem;
    margin-top: 1.5rem;
  }

  .about-section {
    padding: 0rem;
  }

  .about-section .about-img {
    width: 100%; /* Image will be bigger on smaller screens */
    margin-top: 3rem;
  }

  .about-section h2 {
    font-size: 20px;
  }

  .about-section ul {
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 15px;
    margin-top: 2rem;
  }

  .about-section ul li {
    font-size: 18px;
    margin-left: 1.8rem;
  }

  .contact-form-section {
    height: auto;
    padding-top: 30px;
  }

  .contact-form-section h2 {
    font-family: sans-serif;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .contact-form-section input,
  .contact-form-section textarea {
    width: 80%; /* Form fields take up more width */
  }

  .contact-form-section button {
    padding: 12px 24px;
  }
}


/* For tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {
  .section-navbar {
    padding: 25px;
    justify-items: center;
    align-items: center;
  }

  .section-navbar button {
    padding: 10px 18px;
    font-size: 15px;
  }

  .about-section {
    padding: 4rem;
  }

  .about-section .about-img {
    width: 60%; /* Slightly smaller image on tablet */
  }

  .about-section h2 {
    font-size: 22px;
  }

  .contact-form-section h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  .contact-form-section input,
  .contact-form-section textarea {
    width: 70%; /* Form fields take more width on tablets */
  }

  .contact-form-section button {
    padding: 14px 28px;
  }
}