.job-list-container {
    padding: 20px;
}

.job-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.job-item h3 {
    margin: 0;
    font-size: 1.5em;
    color: black;
}

.job-item p {
    margin: 5px 0;
    color: black !important;
}


.job-item img {
    max-width: 100px;
    margin-top: 10px;
}
